*.key
/target
./sqlx
**/*.db*
tests/util/grizol
tests/util/dest_dir
tests/util/orig_dir
tests/util/read_cache_dir
tests/util/fuse_mountpoint
tests/util/syncthing
tests/util/rclone
tests/util/syncthing_home
perf
